{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="row mt-4">
  <div class="col-lg-12 col-12 mx-auto position-relative">
    <div class="card">  
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-dark shadow text-center border-radius-xl mt-n4 me-3 float-start">
          <i class="material-icons opacity-10">password</i>
        </div>
        <h6 class="mb-0">Ubah Password</h6>
      </div>
      <div class="card-body pt-2"> 
        <form method="POST">
          {% csrf_token %}
          <br>
          <div class="input-group input-group-dynamic">
            <label for="username" class="form-label">Password Sekarang</label>
                {{form.current_password}}
          </div> <br>
          <div class="input-group input-group-dynamic">
            <label for="first_name" class="form-label">Password Baru</label>
            {{ form.new_password }}
          </div> <br>
          <div class="input-group input-group-dynamic">
            <label for="last_name" class="form-label">Konfirmasi password</label>
            {{ form.confirm_password }}
          </div>
          <div class="d-flex justify-content-end mt-4">
            <button type="submit" name="button" class="btn bg-gradient-dark m-0 ms-2">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
